:root {
    --color-primary: #2e2f42;
    --color-brand: #4d5ae5;
    --color-secondary: #434455;
    --color-light: #f4f4fd;
    --color-active: #404bbf;
    --color-hero: #fff;
    --color-green: #31d0aa;
  }


